<!-- Default form register -->
<div class="container">
    <form [formGroup]="form" class="text-center border border-light p-5" (ngSubmit)="submitFormHandler()">

        <p class="h4 mb-4">Sign up</p>


        <!-- E-mail -->
        <input formControlName="email" [class.is-invalid]="emailInput?.touched && !!emailInput?.invalid" type="email" id="defaultRegisterFormEmail"
            class="form-control mb-4" name="email" placeholder="E-mail">

        <p *ngIf="emailInput?.touched && emailInput?.errors?.required" class="text-danger">
            Email is required!
        </p>
        <p *ngIf="emailInput?.touched && emailInput?.errors?.email" class="text-danger">
            Email is invalid!
        </p>
        <!-- Password -->
        <input formControlName="password" [class.is-invalid]="passwordInput?.touched && !!passwordInput?.invalid"
            type="password" id="defaultRegisterFormPassword" class="form-control" name="password" placeholder="Password"
            aria-describedby="defaultRegisterFormPasswordHelpBlock">

        <p *ngIf="passwordInput?.touched && passwordInput?.errors?.required" class="text-danger">
            Password is rquired!
        </p>

        <p *ngIf="passwordInput?.touched && passwordInput?.errors?.minlength" class="text-danger">
            Password is must be at least 6 characters long!
        </p>
        <!-- Repeat Password -->
        <input formControlName="rePassword" [class.is-invalid]="rePasswordInput?.touched && !!rePasswordInput?.invalid"
            id="defaultRegisterRePassword" class="form-control" name="repassword" placeholder="Repeat Password"
            aria-describedby="defaultRegisterFormRePasswordHelpBlock">

        <p *ngIf="rePasswordInput?.touched && rePasswordInput?.errors?.required" class="text-danger">
            Repeat Password is rquired!
        </p>

        <p 
        *ngIf="rePasswordInput?.touched && rePasswordInput?.errors?.rePasswordMatch
        " class="text-danger">
            Passwords do not match.
        </p>

        <!-- Sign up button -->
        <button [disabled]="form.invalid || isLoading" [class.disabled]="form.invalid || isLoading" mdbBtn color="info"
            block="true" class="my-4" type="submit">Sign up</button>
        <hr>

        <!-- Terms of service -->
        <p>By clicking
            <em>Sign up</em> you agree to our
            <a href="" target="_blank">terms of service</a></p>

    </form>
</div>
<!-- Default form register -->