<ng-template #defaultMode>
  <div class="flex">
    <p>Email: </p>
    <p>{{(currentUser|async)?.email}}</p>
  </div>
  <button class="edit-button" (click)="toggleEditMode()">Edit</button>
</ng-template>

<ng-template #editMode>
  <form #f="ngForm" (ngSubmit)="submitHandler(f.value)">
    <div class="file">
      <label for="Image">Image File</label>
      <input type="file" (change)="upload($event)" accept="*.png.jpg" id="">
    </div>
    <button *ngIf="!isLoading" type="button" class="red-button" (click)="toggleEditMode()">Cancel</button>
    <button *ngIf="!isLoading" class="green-button">Save</button>
    <p *ngIf="isLoading">Loading...</p>
  </form>
</ng-template>

<div class="profile">
  <div class="field">
    <h3 class="userInfo">User Info:</h3>
  </div>
  <div *ngIf="(currUserImg!==undefined && currUserImg!==null)">
    <img src={{(currentUser|async)?.photoURL}} alt="default user">
  </div>
  <div *ngIf="(currUserImg===undefined || currUserImg===null)">
    <img src="../../../../assets/default.jpg" alt="default user">
  </div>
  <ng-container *ngTemplateOutlet="inEditMode ? editMode : defaultMode"></ng-container>
</div>