<mat-toolbar color="primary">
    <div class="nav-container">
        <span>
            <img class="logo" src="../../../../assets/ee9556c1-a05a-443c-bd5d-343124ac170c_200x200.png">
        </span>
        <ul class="management">
            <li>
                <a routerLink="home">Home</a>
            </li>
            <li *ngIf="isLogged">
                <a>Events</a>
            </li>
            <li *ngIf="isLogged">
                <a>Social</a>
            </li>
        </ul>
        <ul class="user">
            <li *ngIf="!isLogged">
                <a routerLink="/user/login">Log in</a>
            </li>
            <li *ngIf="!isLogged">
                <a routerLink="/user/register">Register</a>
            </li>
            <li>
                <a routerLink="/user/profile" ></a>
            </li>
            <li *ngIf="isLogged">
                <i class="fas fa-user"></i>
            </li>
            <li *ngIf="isLogged"> 
                <a (click)="logoutHandler()">Logout</a>
            </li>
        </ul>
    </div>
</mat-toolbar>