<mat-toolbar color="primary">
    <div class="nav-container">
        <span>
            <img class="logo" src="../../../../assets/ee9556c1-a05a-443c-bd5d-343124ac170c_200x200.png">
        </span>
        <ul class="management">
            <li>
                <a routerLink="home">Home</a>
            </li>
            <li>
                <a routerLink="/event/list">Events</a>
            </li>
            <li *ngIf="currUser">
                <a routerLink="/event/add">Create Event</a>
            </li>
            <li *ngIf="currUser">
                <a routerLink="/event/myEvent">My Events</a>
            </li>
        </ul>
        <ul class="user">
            <li *ngIf="!currUser">
                <a  routerLink="/login">Log in</a>
            </li>
            <li *ngIf="!currUser">
                <a  routerLink="/register">Register</a>
            </li>
            <li>
                <a routerLink="/profile" >{{currUser}}</a>
            </li>
            <li *ngIf="currUser">
                <i class="fas fa-user"></i>
            </li>
            <li *ngIf="currUser" > 
                <a (click)="logoutHandler()">Logout</a>
            </li>
        </ul>
    </div>
</mat-toolbar>