#input, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  #details{
    margin-top: 20px;
    width: 100%;
    height: 100px !important;
    margin-bottom: 20px;
  }
  
  #input1{
    width: 51%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  #submit {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #cancel {
    background-color: #f80606;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  #submit:hover {
    background-color: #45a049;
  }
  
  #cancel:hover {
    background-color: rgb(207, 27, 27);
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h1{
    font-size:40px;
  }
  
  img{
    float: right;
    max-width: 500px;
    max-height: 350px;
    top:4px;
    position: relative;
    object-fit:fill;
  }
  
  .text-danger{
    color:red;
  }
  
  .disabled{
    background-color: gray !important;
  }
  
  .is-invalid{
      border-color: red !important;
  }

  .title{
    margin-top: 10px;
    font-size: 70px;
    text-align: center;
  }

label{
  margin-top: 30px;
    font-size: 20px;
  }

  .location{
    margin-top:10px;
    font-size:35px;
  }

  .date{
    margin-top:10px;
    font-size:35px;
  }

  .details{
    margin-top:10px;
    font-size:35px;
    margin-bottom:20px;
  }

  .creator{
    margin-top:10px;
    font-size:20px;
    margin-bottom: 10px;
  }

/*   comment section */
/* .commentContainer{
  margin-top:30px;
  margin-bottom: 200px;
  position: absolute;
  align-content: center;
}
.comment{
  border-color:gray;
  border-style: solid;
  background-color:#F2F2F2;
  margin-left: 280px;
  width: 550px;
  max-height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.emailContainer{
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: solid;
  border-color:gray;
  width: 544px;
  height: 50px;
  background-color: #673AB7;
}

.email{
  text-decoration: none;
  color:white;
  font-size:20px;
  text-align: center;
  margin-left:10px;
  top:15px;
  position: absolute;
}

.commented{
  position: absolute;
  top:16px;
  color:white;
  font-size:20px;
  left:580px;
}

.content{
  max-width:450px;
}
.text{
  margin-top:10px;
  margin-left: 10px;
  max-width:450px;
  word-wrap: break-word;
} */
.coms
{
  position: relative;
  left:170px;
}

.commentContainer{
  margin-top:20px;
}
body{margin-top:20px;}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
