<!-- Default form login -->
<div class="container">
<form [formGroup]="form" (ngSubmit)="submitFormHandler()" class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign in</p>
    <p class="text-danger" *ngIf="errorMessege">{{errorMessege}}</p>
    <!-- Email -->
    <input 
    formControlName="email" 
    class="form-control" 
    [class.is-invalid]="emailInput?.touched && !!emailInput?.invalid" 
    type="email" 
    id="defaultLoginFormEmail" 
    name="email" 
    class="form-control mb-4" 
    placeholder="E-mail">


    <p *ngIf="emailInput.touched && emailInput?.errors?.required" class="text-danger">
      Email is required!
    </p>
    <p *ngIf="emailInput.touched && emailInput?.errors?.email" class="text-danger">
      Email is invalid!
    </p>
    <!-- Password -->
    <input 
    formControlName="password" 
    class="form-control" [class.is-invalid]="passwordInput?.touched && !!passwordInput?.invalid" 
    name="password" 
    type="password" 
    id="defaultLoginFormPassword"
     class="form-control mb-4" 
     placeholder="Password">
  
    <p *ngIf="passwordInput.touched && passwordInput?.errors?.required" class="text-danger">
      Password is rquired!
    </p>

    <p *ngIf="passwordInput.touched && passwordInput?.errors?.minlength" class="text-danger">
      Password must be at least 6 characters long!
    </p>

    <!-- Sign in button -->
    <button 
    [disabled]="form!.invalid || isLoading"
    [class.disabled]="isLoading ||form!.invalid" 
     mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>
  
    <!-- Register -->
    <p>Not a member?
      <a routerLink="/user/register">Register</a>
    </p>
  
  </form>
</div>
  <!-- Default form login -->
  